.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "navigation" "rides-content" "footer";
}

.navigation {
    grid-area: navigation;
}

.content {
    grid-area: rides-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    grid-template-areas: "head" "main-content";
}

.head {
    grid-area: head;
    align-self: center;
    text-align: center;
}

.title {
    grid-area: title;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "ride1" "ride2" "ride3" "ride4";
    grid-row-gap: 20px;
}

.ride1 {
    grid-area: ride1;
}

.ride2 {
    grid-area: ride2;
}

.ride3 {
    grid-area: ride3;
}

.ride4 {
    grid-area: ride4;
}

.card {
    width: 75%;
    height: 75%;
    margin-left: 12.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 5px 15px;
    background-color: orange;
}

button {
    background-color: #4CAF50;
    color: white;
    height: 30px;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.8;
    font-size: 12pt;
    padding: 5px;
    border-radius: 3px;
}

button :hover {
    height: 35px;
    opacity: 1;
}

.footer {
    grid-area: footer;
}

.footer {
    grid-area: footer;
    background-color: #13547a;
    padding-top: 50px;
    text-align: center;
    color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
        width: 250px;
    }
}

@media screen and (max-width: 736px) {
    .sidenav-fixed {
        display: none;
    }
}

@media screen and (min-width: 736px) {
    .main-content {
        grid-area: main-content;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "ride1 ride2" "ride3 ride4"
    }
    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 15% 1fr 15%;
        grid-template-rows: auto 700px 1fr;
        grid-template-areas: ". navigation ." ". rides-content ." ". footer .";
    }
    .card {
        width: 50%;
        height: 75%;
    }
}