.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main-content"
}

.inner-content {
    grid-area: main-content;
    background-color: orange;
}

p {
    padding-bottom: 15px;
}

.card {
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: orange;
}
#status {
    color: red;
    font:bold;
}
.row {
    display: flex;
}

.label {
    flex: 50%;
}

.data {
    flex: 50%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-left {
    text-align: right;
}

.card-content {
    padding: 5px 15px;
    font-size: 16pt;
}

button {
    background-color: #4CAF50;
    color: white;
    height: 30px;
    border: none;
    cursor: pointer;
    width: auto;
    opacity: 0.8;
    font-size: 12pt;
    padding: 5px;
    border-radius: 3px;
}

button :hover {
    height: 35px;
    opacity: 1;
}

#back {
    width: 100px;
    /* margin-top: 50px;
    margin-right: 50px; */
    margin: 50px 50px;
    float: right;
}

@media screen and (min-width: 736px) {
    .container {
        display: grid;
        grid-template-columns: 15% 1fr 15%;
        grid-template-rows: 800px;
        grid-template-areas: ". main-content .";
    }
    .inner-content {
        margin-top: 100px;
        /* background-color: #13547a; */
    }
    .card {
        height: 100%;
        width: 75%;
        /* margin-left: 12.5%; */
        margin-top: 6.5%;
    }
    .card-left {
        margin-left: 25%;
    }
    #back {
        margin: 100px 165px;
    }
}