* {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 100px;
    color: white;
}

ul {}

ul li {
    list-style: none;
    display: inline-block;
    /* float: left; */
    line-height: 100px;
}

ul li a {
    display: block;
    font-size: 24px;
    color: white;
    padding-right: 20px;
}

ul li a:hover {
    color: #1e1e1e;
}

@media screen and (min-width: 736px) {
    .nav-left {
        float: right;
    }
}

.navigation {
    background-color: #13547a;
    padding: 5px;
}

.nav-wide {
    display: none;
}

@media screen and (min-width: 736px) {
    .nav-mobile {
        display: none;
    }
    .nav-wide {
        display: block;
        visibility: visible;
    }
}